@page "/gas-cooker"
@using AutoMapper
@using e_Scrap.Components.Pages.Filters
@using e_Scrap.Models
@using e_Scrap.Models.Common.GasCooker
@using static e_Scrap.Components.Pages.Filters.DropdownFilter
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject IMapper mapper
@inject IJSRuntime JS
@rendermode InteractiveServer

<h3>Scraped Gas Cooker Products</h3>

@if (loading)
{
    <p>Loading products, please wait...</p>
}
else if (GasCookerProducts != null && GasCookerProducts.Count > 0)
{
    <DropdownFilter BrandNameProducts="@GasCookerProducts.Select(p => p.BrandName.ToUpper()).Distinct().ToList()"
                    ShopNames="@GasCookerProducts.Select(s => GetShopNameFromId( s.ShopId)).Distinct().ToList()"
                    OnSelectedBrandName="FilterBrandNameGasCookerProducts"
                    OnSelectedShopName="FilterShopNameGasCookerProducts"
                    OnMinPriceChanged="FilterByMinPrice"
                    OnMaxPriceChanged="FilterByMaxPrice"
                    IsOnlyDiscountActive="FilterByDiscountPercentage" />

    <div class="product-list">
        @if (FilteredGasCookers.Count != 0)
        {
            @foreach (var product in FilteredGasCookers)
            {
                var shopName = GetShopNameFromId(product.ShopId);

                <div class="product-card">
                    <h5>@product.Name</h5>
                    <img src="@product.ImageSmallUrl" alt="Image not available" width="200" height="200" />
                    <p><strong>Price:</strong> @product.StandardPrice.ToString("C")</p>

                    @if (product.DiscountPercentage > 0)
                    {
                        <p style="color: red"><strong>Discount Price:</strong> @product.DiscountPrice.ToString("C")</p>
                        <p style="color: red"><strong>Discount:</strong> @product.DiscountPercentage%</p>
                    }
                    else
                    {
                        <p><strong>Discount Price:</strong> @product.DiscountPrice.ToString("C")</p>
                        <p><strong>Discount:</strong> @product.DiscountPercentage%</p>
                    }

                    <p><strong>Brand Name:</strong> @product.BrandName</p>
                    <p><strong>Shop: </strong> @shopName</p>
                    <p><strong>Description:</strong> @product.ProductDescription</p>
                    <a href="@product.LinkUrl" target="_blank" rel="noopener noreferrer">View Product</a>
                </div>
            }
        }
        else
        {
            <p>Does not exist products in this range...</p>
        }
    </div>
}
else
{
    <p>No products found.</p>
}

@code {
    private bool loading = true;
    private readonly ProductFilter<GasCookerModel> _productFilter = new();
    private List<GasCookerModel> GasCookerProducts = new();
    private List<GasCookerModel> FilteredGasCookers = new();
    private List<ShopsModel> shopsModel = new();
    private string SelectedBrand { get; set; }
    private string SelectedShop { get; set; }
    private int? MinPriceFilter { get; set; }
    private int? MaxPriceFilter { get; set; }
    private bool IsDiscountView { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        var client = HttpClientFactory.CreateClient("API");

        var shops = await client.GetAsync("Shops/getShops");
        shopsModel = await shops.Content.ReadFromJsonAsync<List<ShopsModel>>();

        GasCookerProducts = await GetAltexGasCookerProductsAsync(client);
        GasCookerProducts.AddRange(await GetEMaGasCookerProductsAsync(client));
        GasCookerProducts.AddRange(await GetMediaGalaxyGasCookerProductsAsync(client));

        FilteredGasCookers = GasCookerProducts;
        loading = false;
        StateHasChanged();
    }

    #region ShopAPI
    private string GetShopNameFromId( Guid shopId)
    {
        return shopsModel.FirstOrDefault(s => s.Id == shopId)?.Name ?? "Unknown Shop";
    }

    private async Task<List<GasCookerModel>> GetAltexGasCookerProductsAsync(HttpClient client)
    {
        var endpoint = "AltexGasCooker/ScrapeGasCookerAltexProducts";
        return await GetDataAsync<GasCookerModel>(client, endpoint);
    }

    private async Task<List<GasCookerModel>> GetEMaGasCookerProductsAsync(HttpClient client)
    {
        var endpoint = "eMagGasCooker/eMagScrapeGasCookerProducts";
        return await GetDataAsync<GasCookerModel>(client, endpoint);
    }

    private async Task<List<GasCookerModel>> GetMediaGalaxyGasCookerProductsAsync(HttpClient client)
    {
        var endpoint = "MediaGalaxyGasCooker/ScrapeGasCookerMediaGalaxyProducts";
        return await GetDataAsync<GasCookerModel>(client, endpoint);
    }

    private async Task<List<T>> GetDataAsync<T>(HttpClient client, string endpoint) where T : class
    {
        try
        {
            var response = await client.GetAsync(endpoint);
            if (response.IsSuccessStatusCode)
            {
                return await response.Content.ReadFromJsonAsync<List<T>>() ?? new List<T>();
            }

            Console.WriteLine($"Error fetching data: {response.StatusCode}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception while fetching data: {ex.Message}");
        }

        return new List<T>();
    }
    #endregion

    #region Filters
    private void FilterBrandNameGasCookerProducts(string selectedBrand)
    {
        SelectedBrand = selectedBrand;
        ApplyPriceFilter();
    }

    private void FilterShopNameGasCookerProducts(string selectedShop)
    {
        SelectedShop = selectedShop;
        ApplyPriceFilter();
    }

    private void FilterByMinPrice(int? minPrice)
    {
        MinPriceFilter = minPrice;
        ApplyPriceFilter();
    }

    private void FilterByMaxPrice(int? maxPrice)
    {
        MaxPriceFilter = maxPrice;
        ApplyPriceFilter();
    }

    private void FilterByDiscountPercentage(bool isDiscount)
    {
        IsDiscountView = isDiscount;
        ApplyPriceFilter();
    }

    private void ApplyPriceFilter()
    {
        IEnumerable<GasCookerModel> filteredProducts = GasCookerProducts;

        filteredProducts = _productFilter.FilterByProperty(filteredProducts, p => p.BrandName, SelectedBrand);

        filteredProducts = _productFilter.FilterByProperty(filteredProducts, p => GetShopNameFromId(p.ShopId), SelectedShop);

        filteredProducts = _productFilter.FilterByPriceRange(filteredProducts, p => p.StandardPrice, MinPriceFilter, MaxPriceFilter);

        if (IsDiscountView)
        {
            filteredProducts = _productFilter.FilterByCondition(filteredProducts, p => p.DiscountPercentage > 0);
        }

        FilteredGasCookers = _productFilter.SortProducts(
            filteredProducts,
            p => IsDiscountView ? p.DiscountPercentage : (p.DiscountPercentage > 0 ? p.DiscountPrice : p.StandardPrice),
            true).ToList();

        StateHasChanged();
    }
    #endregion
}
