@page "/wash-machine"
@using AutoMapper
@using e_Scrap.Components.Pages.Filters
@using e_Scrap.Models
@using e_Scrap.Models.Common
@using e_crap.Models.Common.WashMachine
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject IMapper mapper;
@inject IJSRuntime JS
@rendermode InteractiveServer

<h3>Scraped Wash Machine Products</h3>

@if (loading)
{
    <p>Loading products, please wait...</p>
}
else if (WashMachineProducts != null && WashMachineProducts.Count > 0)
{
    <DropdownFilter BrandNameProducts="@WashMachineProducts.Select(p => p.BrandName).Distinct().ToList()"
                    OnSelected="FilterProducts" />

    <div class="product-list">
        @foreach (var product in FilteredProducts)
        {
            var shopName = GetShopName(shopsModel, product.ShopId);

            <div class="product-card">
                <h5>@product.Name</h5>
                <img src="@product.ImageSmallUrl" alt="Lipseste imaginea" width="200" height="200" />
                <p><strong>Price:</strong> @product.StandardPrice.ToString("C")</p>

                @if (product.DiscountPercentage > 0)
                {
                    <p style="color: red"><strong>Discount Price:</strong> @product.DiscountPrice.ToString("C")</p>
                    <p style="color: red"><strong>Discount:</strong> @product.DiscountPercentage%</p>
                }
                else
                {
                    <p><strong>Discount Price:</strong> @product.DiscountPrice.ToString("C")</p>
                    <p><strong>Discount:</strong> @product.DiscountPercentage%</p>
                }

                <p><strong>Brand Name:</strong> @product.BrandName</p>
                <p><strong>Shop: </strong> @shopName</p>
                <p><strong>Description:</strong> @product.ProductDescription</p>
                <a href="@product.LinkUrl" target="_blank" rel="noopener noreferrer">View Product</a>
            </div>
        }
    </div>
}

else
{
    <p>No products found.</p>
}

@code {
    private bool loading = true;
    private List<WashMachineModel> WashMachineProducts = new();
    private List<WashMachineModel> FilteredProducts = new();
    private List<ShopsModel> shopsModel = new();

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        var client = HttpClientFactory.CreateClient("API");
        var shops = await client.GetAsync("Shops/getShops");
        shopsModel = await shops.Content.ReadFromJsonAsync<List<ShopsModel>>();
        WashMachineProducts = await GetAltexWashMachineProductAsync(client);
        WashMachineProducts.AddRange(await GetEMagWashMachine(client));
        WashMachineProducts = WashMachineProducts
            .Where(x => x.DiscountPrice >= 800 && x.DiscountPrice <= 1500)
            .OrderByDescending(x => x.DiscountPrice)
            .ToList();

        FilteredProducts = WashMachineProducts;
        loading = false;
    }
    private void FilterProducts(string selectedBrand)
    {
        Console.WriteLine($"Filtering products by brand: {selectedBrand}");

        if (string.IsNullOrEmpty(selectedBrand))
        {
            FilteredProducts = WashMachineProducts;
        }
        else
        {
            FilteredProducts = WashMachineProducts
                .Where(p => p.BrandName.Equals(selectedBrand, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }

        StateHasChanged();
    }

    protected string GetShopName(List<ShopsModel> shopsModels, Guid shopId)
    {
        return shopsModel.FirstOrDefault(s => s.Id == shopId)?.Name ?? "Unknown Shop";
    }

    protected async Task<List<WashMachineModel>> GetAltexWashMachineProductAsync(HttpClient client)
    {
        var endpoint = "AltexWashMachine/ScrapeAltexWashMachine";
        var products = await GetDataAsync<WashMachineModel>(client, endpoint);

        return products;
    }

    protected async Task<List<WashMachineModel>> GetEMagWashMachine(HttpClient client)
    {
        var endpoint = "eMagWashMachine/ScrapeEMagWashMachine";
        var products = await GetDataAsync<WashMachineModel>(client, endpoint);

        return products;
    }

    protected async Task<List<T>> GetDataAsync<T>(HttpClient client, string endpoint) where T : class
    {
        try
        {
            var response = await client.GetAsync(endpoint);

            if (response.IsSuccessStatusCode)
            {
                var data = await response.Content.ReadFromJsonAsync<List<T>>();
                return data ?? new List<T>();
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Error: {response.StatusCode}, Content: {errorContent}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception occurred while fetching data: {ex.Message}");
        }

        return new List<T>();
    }
}
